<html>
<head>
    <title>
        Email Aluinox
    </title>
</head>
<body style="padding:0; margin:0">

<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0" width="100%">
    <tr>
        <td align="justify">

            <div><table border="0" width="100%" cellspacing="0" cellpadding="20" bgcolor="#DC0000" class="100p">
                    <tr>
                        <td align="left" style="font-size:24px; color:#FFFFFF;"><font face="'Roboto', Arial, sans-serif">
                                <img src="{{ asset('assets/demo/demo12/media/img/logo/logo.png') }}" alt="Alu Inox" height="50">
                                <h1>Aluinox</h1>
                            </font></td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ecf0f1" class="100p">
                    <tr>
                        <td align="left" style="font-size:14px; color:#2c3e50;">
                            <font face="'Roboto', Arial, sans-serif">
                                {% block body %}

                                {% endblock %}

                            </font>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

</body>
</html>