{% extends "Emails/email_base.html.twig" %}

{% block body %}
    <p>Bonjour <strong>{{ user.username }}</strong>.</p><br>

    <p>Cette dépense a été ajouter au chantier <strong>{{ chantier.name }}</strong></p>
    <p> Beneficiare : <strong>{{ depense.beneficiare }} </strong></p>
    <p>Nature : {{ depense.nature }} </p>
    <p>Montant : <strong>{{ depense.montant }} FCFA</strong></p>
    <p>Type de depense : {{ depense.typeDepense }} </p><br><br>

    <p>-----------------------</p>
    <p>L'équipe <span style="color: #DC0000;"><b>Aluinox</b></span>.</p>

{% endblock %}