{% extends "Emails/email_base.html.twig" %}

{% block body %}
    <p>Bonjour <strong>{{ user.username }}</strong>.</p><br>

    <p> Cet accompte a été ajouter au chantier <strong>{{ chantier.name }}</strong></p>
    <p> Nature : <strong>{{ accompte.nature }} </strong></p>
    <p> Montant : <strong>{{ accompte.montant }} FCFA</strong></p>

    <p>-----------------------</p>
    <p>L'équipe <span style="color: #DC0000;"><b>Aluinox</b></span>.</p>

{% endblock %}