{% extends '::back-office.html.twig' %}
{% block title %} Services{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('service_index') }}" class="m-nav__link">
        <span class="m-nav__link-text">
            Services
        </span>
        </a>
    </li>
{% endblock breadcrumb%}

{% block body %}
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <i class="m-menu__link-icon flaticon-technology"></i>  Liste des services
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <button data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <i class="flaticon-notes"></i>
                                Ajouter service
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Service
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                        </div>
                        {{ form_start(form_service, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'}}) }}

                        <div class="modal-body">

                            <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    Nature de ceintrage
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.natureCeintrage, {'attr': {'class': 'form-control m-input','placeholder':'Nature ceintrage'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Client
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.client, {'attr': {'class': 'form-control m-input','placeholder':'Client'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Téléphone
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.telephone, {'attr': {'class': 'form-control m-input','placeholder':'Téléphone'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Montant
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.montant, {'attr': {'class': 'form-control m-input','placeholder':'Montant'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Montant donné en avance
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.montantAvance, {'attr': {'class': 'form-control m-input','placeholder':'Montant avance'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Montant restant
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.montantRestant, {'attr': {'class': 'form-control m-input','placeholder':'Montant restant'}}) }}
                                    <br>
                                </div>
                                <label class="col-lg-2 col-form-label">
                                    Description
                                </label>
                                <div class="col-lg-4">
                                    {{ form_widget(form_service.description, {'attr': {'class': 'form-control m-input','placeholder':'Description'}}) }}
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Annuler
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Enregistrer
                            </button>

                        </div>
                        {{ form_rest(form_service) }}
                        {{ form_end(form_service) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
            <tr>
                <th>Natureceintrage</th>
                <th>Client</th>
                <th>Telephone</th>
                <th>Montant</th>
                <th>Montantavance</th>
                <th>Montantrestant</th>
                <th>Createat</th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.natureCeintrage }}</td>
                    <td>{{ service.client }}</td>
                    <td>{{ service.telephone }}</td>
                    <td>{{ service.montant }}</td>
                    <td>{{ service.montantAvance }}</td>
                    <td>{{ service.montantRestant }}</td>
                    <td>{% if service.createAt %}{{ service.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        3
                    </td>
                    <td>
                        2
                    </td>
                    <td nowrap></td>
                    {#<td>
                        <ul>
                            <li>
                                <a href="{{ path('service_show', { 'id': service.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('service_edit', { 'id': service.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% block javascripts %}
    <script src="{{ asset('assets/vendors/base/vendors.bundle.js') }}"></script>
    <script src="{{ asset('assets/demo/demo12/base/scripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/vendors/custom/datatables/datatables.bundle.js') }}"></script>
    <script src="{{ asset('assets/vendors/custom/datatables/column-visibility.js') }}"></script>
{% endblock %}
{% endblock %}
