{% extends '::back-office.html.twig' %}
{% block title %} Services{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('service_index') }}" class="m-nav__link">
        <span class="m-nav__link-text">
            Services
        </span>
        </a>
    </li>

    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('service_show',{'id':service.id}) }}" class="m-nav__link">
        <span class="m-nav__link-text">
            {{ service.natureCeintrage }}
        </span>
        </a>
    </li>
{% endblock breadcrumb%}
{% block body %}

    <h1>Service</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Natureceintrage</th>
                <td>{{ service.natureCeintrage }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ service.client }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ service.telephone }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ service.montant }}</td>
            </tr>
            <tr>
                <th>Montantavance</th>
                <td>{{ service.montantAvance }}</td>
            </tr>
            <tr>
                <th>Montantrestant</th>
                <td>{{ service.montantRestant }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if service.createAt %}{{ service.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('service_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('service_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
