{% extends 'back-office.html.twig' %}

{% block title %} Portfolio{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                Portfolios
            </span>
        </span>
    </li>
{% endblock breadcrumb%}

{% block body %}
    <div class="m-portlet m-portlet--tab">

        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-puzzle"></i>
                </span>
                    <h3 class="m-portlet__head-text">
                        Liste des portfolios
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="{{ path('portfolio_new') }}" class="btn btn-outline-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air"
                           data-toggle="m-tooltip" title="Créer portfolio" data-html="true" data-content="Créer portfolio">
                            <i class="la la-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        {% if portfolios|length <= 0 %}
            <h2 align="center">Pas encore de portfolio créer</h2>
        {% endif %}
        {% for portfolio in portfolios %}
            <div class="col-xl-4">
                <!--begin:: Widgets/Blog-->
                <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                    <div class="m-portlet__head m-portlet__head--fit">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-action">
                                <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}" class="btn btn-sm m-btn--pill  btn-brand">
                                    {{ portfolio.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-widget19">
                            <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                                <img src="{{ asset('uploads/images/' ~portfolio.image) }}" alt="">
                                <h3 class="m-widget19__title m--font-light">
                                    {{ portfolio.name }}
                                </h3>
                                <div class="m-widget19__shadow"></div>
                            </div>
                            <div class="m-widget19__action">
                                <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}" type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                    Voire +
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Blog-->
            </div>
        {% endfor %}
    </div>
    <div style=" margin-left: auto;margin-right: auto;display: block;font-size: 23px;letter-spacing: 15px;">
        {{ knp_pagination_render(portfolios) }}
    </div>
{% endblock %}
