{% extends 'back-office.html.twig' %}

{% block title %} Portfolio{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                Portfolio
            </span>
        </span>
    </li>
{% endblock breadcrumb%}
{% block body %}
    <h1>Portfolio creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('portfolio_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
