{% extends 'back-office.html.twig' %}

{% block title %} Portfolio{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('portfolio_index') }}" class="m-nav__link">
            <span class="m-nav__link-text">
                Portfolios
            </span>
        </a>
    </li>
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                {{ portfolio.name }}
            </span>
        </span>
    </li>
{% endblock breadcrumb%}
{% block body %}
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="m-invoice-1">
                <div class="m-invoice__wrapper">
                    <div class="m-invoice__head" style="background-image: url({{ asset('uploads/images/' ~portfolio.image) }});">
                        <div class="m-invoice__container m-invoice__container--centered">
                            <div class="m-invoice__logo">
                                <a href="#">
                                    <h1>
                                        {{ portfolio.name }}
                                    </h1>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="m-invoice__body m-invoice__body--centered">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        DESCRIPTION
                                    </th>
                                    <th>
                                        NAME
                                    </th>
                                    <th>
                                        DATE
                                    </th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>
                                        {{ portfolio.description }}
                                    </td>
                                    <td>
                                        {{ portfolio.name }}
                                    </td>
                                    <td>
                                        {% if portfolio.updateAt %}{{ portfolio.updateAt|date('Y-m-d H:i:s') }}{% endif %}
                                    </td>
                                </tr>
                                </tbody>
                                <tfooter>
                                    <tr>
                                        <td>

                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="{{ path('portfolio_edit', { 'id': portfolio.id }) }}">Edit</a>
                                        </td>
                                        <td>
                                            {{ form_start(delete_form) }}
                                            <input class="btn btn-success" type="submit" value="Delete">
                                            {{ form_end(delete_form) }}
                                        </td>
                                    </tr>
                                </tfooter>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
