{% extends '::back-office.html.twig' %}

{% block body %}
    <h1>Depense</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr>
            <tr>
                <th>Nature</th>
                <td>{{ depense.nature }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if depense.createAt %}{{ depense.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ depense.montant }}</td>
            </tr>
            <tr>
                <th>Beneficiare</th>
                <td>{{ depense.beneficiare }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ depense.description }}</td>
            </tr>
            <tr>
                <th>Typedepense</th>
                <td>{{ depense.typeDepense }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('depense_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('depense_edit', { 'id': depense.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
