{% extends "::back-office.html.twig" %}

{% block title %} Accompte{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('accompte_index') }}" class="m-nav__link">
            <span class="m-nav__link-text">
                Accompte
            </span>
        </a>
    </li>
{% endblock breadcrumb%}
{% block body %}
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <i class="m-menu__link-icon flaticon-notes"></i>   Listes des accomptes
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger" role="tablist">
                    {#<li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_2_1" role="tab">
                            <i class="flaticon-share"></i>
                            Détails
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_2_2" role="tab">
                            <i class="flaticon-notes"></i>
                            Accomptes
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_2_3" role="tab">
                            <i class="flaticon-paper-plane"></i>
                            Dépenses
                        </a>
                    </li>#}
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="m_portlet_tab_2_1">
                    <div class="m-invoice-2">
                        <div class="m-invoice__wrapper">
                            <div class="m-invoice__body m-invoice__body--centered">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                Nature
                                            </th>
                                            <th>
                                                Date de création
                                            </th>
                                            <th>
                                                Montant
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for accompte in accomptes  %}
                                            <tr>
                                                <td>{{ accompte.nature }}</td>
                                                <td> {% if accompte.dateAccompte %}{{ accompte.dateAccompte|date('d-m-Y') }}{% endif %}</td>
                                                <td class="m--font-danger">{{ accompte.montant }} FCFA</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
