{% extends "::back-office.html.twig" %}

{% block title %} Chantier{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('chantier_index') }}" class="m-nav__link">
            <span class="m-nav__link-text">
                Chantiers
            </span>
        </a>
    </li>
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                {{ chantier.name }} - Edit
            </span>
        </span>
    </li>
{% endblock breadcrumb%}
{% block body %}
    <!--begin::Portlet-->
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Modification de chantier
                    </h3>
                </div>
            </div>
        </div>
        <!--begin::Form-->
        {{ form_start(edit_form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'}}) }}
        {#<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">#}
        <div class="m-portlet__body">

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">
                    Nom du chantier
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control m-input'}}) }}
                    <span class="m-form__help">
                            Nom du chantier
                        </span>
                </div>
                <label class="col-lg-2 col-form-label">
                    Budget du chantier
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.budget, {'attr': {'class': 'form-control m-input','placeholder':'Budget'}}) }}
                    <span class="m-form__help">
                            Budget du chantier
                        </span>
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">
                    Date de finalisation du chantier
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.dateFin, {'attr': {'class': 'form-control m-input','placeholder':'Date fin'}}) }}
                    <span class="m-form__help">
                            Date de finalisation du chantier
                        </span>
                </div>
                <label class="col-lg-2 col-form-label">
                    Lieu
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.lieu, {'attr': {'class': 'form-control m-input','placeholder':'Lieu du chantier'}}) }}
                    <span class="m-form__help">
                            Localisation du chantier
                        </span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">
                    Description
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.description, {'attr': {'class': 'form-control m-input','placeholder':'Déscription'}}) }}
                    <span class="m-form__help">
                            Description du chantier
                        </span>
                </div>
                <label class="col-lg-2 col-form-label">
                    Image
                </label>
                <div class="col-lg-4">
                    {{ form_widget(edit_form.imageFile)}}
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-7">
                        <button type="submit" class="btn btn-brand">
                            Enregistrer
                        </button>
                        <button type="reset" class="btn btn-secondary">
                            Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
        <!--end::Form-->
    </div>
{% endblock %}