{% extends "::back-office.html.twig" %}

{% block title %} Chantier{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                Chantiers
            </span>
        </span>
    </li>
{% endblock breadcrumb%}
{% block body %}
<div class="m-portlet m-portlet--tab">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                    <i class="flaticon-placeholder-2"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    Liste des chantiers
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a href="{{ path('chantier_new') }}" class="btn btn-outline-success m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air"
                       data-toggle="m-tooltip" title="Créer chantier" data-html="true" data-content="Créer chantier">
                        <i class="la la-plus"></i>
                    </a>
                </li>
                <li class="m-portlet__nav-item">
                    <a href="{{ path('chantier_all') }}" class="btn btn-outline-dark m-btn m-btn--icon btn-lg m-btn--icon-only m-btn--pill m-btn--air"
                       data-toggle="m-tooltip" title="Tous les chantiers" data-html="true" data-content="Créer chantier">
                        <i class="la la-send"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <div class="row">
    {% if chantiers|length <= 0 %}
        <h2 align="center">Pas encore de chantier créer</h2>
    {% endif %}
    {% for chantier in chantiers %}
        <div class="col-xl-4">
            <!--begin:: Widgets/Blog-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height  m-portlet--rounded-force">
                <div class="m-portlet__head m-portlet__head--fit">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-action">
                            <a href="{{ path('chantier_show', {'id': chantier.id}) }}" class="btn btn-sm m-btn--pill  btn-brand">
                                {{ chantier.lieu }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget19">
                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 286px">
                            {% if chantier.image is defined %}
                                <img src="{{ asset('uploads/images/'~chantier.image) }}" alt="{{ chantier.name }}">
                            {% else %}
                                <img src="{{ asset('assets/app/media/img//blog/blog1.jpg') }}" alt="">
                            {% endif %}
                            <h3 class="m-widget19__title m--font-light">
                                {{ chantier.name }}
                            </h3>
                            <div class="m-widget19__shadow"></div>
                        </div>
                        <div class="m-widget19__content">
                            <div class="m-widget19__header">
                                <div class="m-widget19__user-img">

                                </div>
                                <div class="m-widget19__info">
                                    Budget
                                </div>
                                <div class="m-widget19__stats">
                                    <span class="m-widget19__number m--font-brand">
                                       {{ chantier.budget }}
                                    </span>
                                    <span class="m-widget19__comment">
                                        FCFA
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget19__body">
                                {{ chantier.description }}
                            </div>
                        </div>
                        <div class="m-widget19__action">
                            <a href="{{ path('chantier_show', {'id': chantier.id}) }}" type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                Voire +
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end:: Widgets/Blog-->
        </div>
    {% endfor %}
    </div>
{% endblock %}
