{% extends "::back-office.html.twig" %}

{% block title %} Chantier{% endblock %}
{% block breadcrumb %}
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <a href="{{ path('chantier_index') }}" class="m-nav__link">
            <span class="m-nav__link-text">
                Chantiers
            </span>
        </a>
    </li>
    <li class="m-nav__separator">
        -
    </li>
    <li class="m-nav__item">
        <span class="m-nav__link">
            <span class="m-nav__link-text">
                {{ chantier.name }}
            </span>
        </span>
    </li>
{% endblock breadcrumb%}
{% block body %}
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ chantier.name }}
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_2_1" role="tab">
                            <i class="flaticon-share"></i>
                            Détails
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_2_2" role="tab">
                            <i class="flaticon-notes"></i>
                            Accomptes
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_2_3" role="tab">
                            <i class="flaticon-paper-plane"></i>
                            Dépenses
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" 	m-dropdown-toggle="hover">
                        <a href="#" class="nav-link m-tabs__link   m-dropdown__toggle dropdown-toggle">
                            {% if chantier.image is defined %}
                                <img class="rounded-circle" width="35" src="{{ asset('uploads/images/'~chantier.image) }}" alt="{{ chantier.name }}">
                            {% else %}
                                <img class="rounded-circle" width="35" src="{{ asset('assets/app/media/img//blog/blog1.jpg') }}" alt="">
                            {% endif %}
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first" >
                                                <span class="m-nav__section-text">
                                                    Actions
                                                </span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a class="m-nav__link" href="{{ path('chantier_edit', {'id': chantier.id}) }}">
                                                    <i class="m-nav__link-icon flaticon-edit"></i>
                                                    <span class="m-nav__link-text">
                                                        Modifier
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a class="m-nav__link" data-toggle="tab" href="#m_portlet_tab_5_2" role="tab">
                                                    <i class="m-nav__link-icon flaticon-delete-1"></i>
                                                    <span class="m-nav__link-text">
                                                        Supprimer
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="m_portlet_tab_2_1">
                    <div class="m-invoice-2">
                        <div class="m-invoice__wrapper">
                            <div class="m-invoice__head">
                                <div class="m-invoice__container m-invoice__container--centered">
                                    <div class="m-invoice__items" style="border: none !important;">
                                        <div class="m-invoice__item">
                                            <span class="m-invoice__subtitle">
                                                DEBUT CHANTIER
                                            </span>
                                            <span class="m-invoice__text">
                                                {% if chantier.dateDebut %}{{ chantier.dateDebut|date('d-m-Y') }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="m-invoice__item">
                                            <span class="m-invoice__subtitle">
                                                FINALISATION CHANTIER
                                            </span>
                                            <span class="m-invoice__text">
                                                {% if chantier.dateFin %}{{ chantier.dateFin|date('d-m-Y') }}{% endif %}
                                            </span>
                                        </div>
                                        <div class="m-invoice__item">
                                            <span class="m-invoice__subtitle">
                                                BUDGET
                                            </span>
                                            <span class="m-invoice__text m--font-danger">
                                                {{ chantier.budget }} FCFA
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-invoice__body m-invoice__body--centered">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                DESCRIPTION
                                            </th>
                                            <th>
                                                ETATS
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                {{ chantier.description }}
                                            </td>
                                             <td>
                                                 {% if chantier.isActive == true %}
                                                 <span class="m-badge m-badge--success"> Actif </span>
                                                 {% else %}
                                                 <span class="m-badge m-badge--danger"> Desactivé </span>
                                                 {% endif %}
                                             </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="m_portlet_tab_2_2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                              Vous avez  <span class="m-badge m-badge--danger">{{ accompte_chantier|length }}</span>  accomptes sur cet chantier
                                            </h3>
                                        </div>
                                    </div>
                                    {% if chantier.isActive == true %}
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <button data-toggle="modal" data-target="#m_modal_6" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
												<span>
													<i class="flaticon-notes"></i>
                                                    Ajouter accopmte
												</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="m-portlet__body">
                                    <!--begin: Datatable -->
                                    {% if accompte_chantier is defined %}
                                    <table class="table table-striped- table-bordered table-hover table-checkable responsive no-wrap" id="m_table_1">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                Nature
                                            </th>
                                            <th>
                                                Date de création
                                            </th>
                                            <th>
                                                Montant
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for accompte in accompte_chantier  %}
                                            <tr>
                                                <td></td>
                                                <td>{{ accompte.nature }}</td>
                                                <td> {% if accompte.dateAccompte %}{{ accompte.dateAccompte|date('d-m-Y') }}{% endif %}</td>
                                                <td class="m--font-danger">{{ accompte.montant }} FCFA</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td><strong>TOTAL</strong></td>
                                                <td></td>
                                                <td></td>
                                                <td class="m--font-danger">
                                                    {% for totalAccompte in totalAccomptes %}
                                                        <strong>{{ totalAccompte.accompteTotal }} FCFA </strong>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        </tfooter>
                                    </table>
                                    {% else%}

                                    <h2>Pas d'accompte pour le moment </h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Accompte {{ chantier.name }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                                        </button>
                                    </div>
                                    {{ form_start(accompte_form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'}}) }}

                                    <div class="modal-body">

                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-4 col-form-label">
                                                {{ 'accompte.fields.nature'| trans({}, 'ALUMainBundle') |raw }}
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(accompte_form.nature, {'attr': {'class': 'form-control m-input','placeholder':'accompte.fields.nature'| trans({}, 'ALUMainBundle') |raw}}) }}
                                                <br>
                                            </div>
                                            <label class="col-lg-4 col-form-label">
                                                Montant
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(accompte_form.montant, {'attr': {'class': 'form-control m-input','placeholder':'Montant'}}) }}
                                                <br>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Annuler
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Enregistrer
                                        </button>

                                    </div>
                                    {{ form_rest(accompte_form) }}
                                    {{ form_end(accompte_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="m_portlet_tab_2_3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__head">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-title">
                                            <h3 class="m-portlet__head-text">
                                               Depense sur cet chantier
                                            </h3>
                                        </div>
                                    </div>
                                    {% if chantier.isActive == true %}
                                    <div class="m-portlet__head-tools">
                                        <ul class="m-portlet__nav">
                                            <li class="m-portlet__nav-item">
                                                <button data-toggle="modal" data-target="#m_modal_7" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
												<span>
													<i class="flaticon-paper-plane"></i>
                                                    Ajouter depense
												</span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="m-portlet__body">
                                    <!--begin: Datatable -->
                                    {% if depense_chantier is defined %}
                                        <table class="table table-striped- table-bordered table-hover table-checkable responsive no-wrap" id="m_table_1">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    Nature
                                                </th>
                                                <th>
                                                    Date de création
                                                </th>
                                                <th>
                                                    Type de depense
                                                </th>
                                                <th>
                                                    Montant
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for depense in depense_chantier  %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{ depense.nature }}</td>
                                                    <td> {% if depense.createAt %}{{ depense.createAt|date('d-m-Y') }}{% endif %}</td>
                                                    <td>{{ depense.typeDepense }}</td>
                                                    <td class="m--font-danger">{{ depense.montant }} FCFA</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfooter>
                                                <tr>
                                                    <td><strong>TOTAL</strong></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td class="m--font-danger">
                                                        {% for TotalDepense in totalDepenseOnBudget %}
                                                          <strong>{{ TotalDepense.montantTotal }} FCFA </strong>
                                                        {% endfor %}
                                                    </td>

                                                </tr>
                                            </tfooter>
                                        </table>
                                    {% else%}

                                        <h2>Pas de depense pour le moment </h2>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="m_modal_7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Depense {{ chantier.name }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                                        </button>
                                    </div>
                                    {{ form_start(depense_form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed'}}) }}

                                    <div class="modal-body">

                                        <div class="form-group m-form__group row">
                                            <label class="col-lg-4 col-form-label">
                                                Nature
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(depense_form.nature, {'attr': {'class': 'form-control m-input','placeholder':'accompte.fields.nature'| trans({}, 'ALUMainBundle') |raw}}) }}
                                                <br>
                                            </div>
                                            <label class="col-lg-4 col-form-label">
                                                Beneficiaire
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(depense_form.beneficiare, {'attr': {'class': 'form-control m-input','placeholder':'Beneficiaire'}}) }}
                                                <br>
                                            </div>
                                            <label class="col-lg-4 col-form-label">
                                                Montant
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(depense_form.montant, {'attr': {'class': 'form-control m-input','placeholder':'Montant'}}) }}
                                                <br>
                                            </div>
                                            <label class="col-lg-4 col-form-label">
                                                Description
                                            </label>
                                            <div class="col-lg-8">
                                                {{ form_widget(depense_form.description, {'attr': {'class': 'form-control m-input','placeholder':'Description'}}) }}
                                                <br>
                                            </div>
                                            <label class="col-lg-4 col-form-label">
                                                Type dépense
                                            </label>
                                            <div class="col-lg-8">
                                                <div class="m-radio-list">
                                                    <label class="m-radio m-radio--state-success">
                                                        {{ form_widget(depense_form.typeDepense) }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Annuler
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Enregistrer
                                        </button>

                                    </div>
                                    {{ form_rest(depense_form) }}
                                    {{ form_end(depense_form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
